# Ignore everything by default
*

# Exclude these files and directories from being ignored
!.gitignore
!README.md
!install_script.sh
!ns3_blockchain.code-workspace
!protocol/


# Ignore object files and temporary files in the model directory
protocol/src/applications/model/*.o
protocol/src/applications/model/.qmake.stash
