
# Exclude these files and directories from being ignored
ns3/
rapidjson/
src/


# If you want to ignore certain files or subdirectories inside these, you can specify them
# For example, ignore object files and log files inside src/

