# Ignore everything by default
*

# Exclude these files and directories from being ignored
!.gitignore
!README.md
!install_script.sh
!ns3_blockchain.code-workspace


# If you want to ignore certain files or subdirectories inside these, you can specify them
# For example, ignore object files and log files inside src/

